<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>




</head>
<body>
	<form method="post" action="test_view.php" id="exam_form">
		<table class="txc-table" width="673px" cellspacing="0" cellpadding="0"	border="0"	style="border: none; border-collapse: collapse; font-family: verdana; font-size: 16px; width: 673px;">
			<tbody>
				<tr>
					<td	style="width: 672px; height: 52px; border: 1px solid rgb(204, 204, 204);"
						rowspan="1" colspan="4"><p style="text-align: center;">토익
							보카 1일차&nbsp;</p></td>
				</tr>
				<tr>
					<td
						style="width: 166px; height: 51px; border: 1px solid rgb(204, 204, 204);"
						rowspan="1"><p style="text-align: center;">&nbsp;총40문제</p></td>
					<td
						style="width: 507px; height: 51px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204);"
						rowspan="1" colspan="3"><p style="text-align: center;">
						OX형(10) / 객관식(10) / 주관식(20)</p></td>
				</tr>
				<tr>
					<td
						style="width: 166px; height: 73px; border: 1px solid rgb(204, 204, 204);"><p
							style="text-align: center;">전체문제</p></td>
					<td
						style="width: 166px; height: 73px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204);"><p
							style="text-align: center;">1번 이상</p>
						<p style="text-align: center;">틀린문제(10)</p></td>
					<td
						style="width: 166px; height: 73px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204);"><p
							style="text-align: center;">2번 이상</p>
						<p style="text-align: center;">
							<span style="font-size: 12pt; line-height: 1.5;">틀린문제(5)</span>
						</p></td>
					<td
						style="width: 175px; height: 73px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204);"><p
							style="text-align: center;">3번 이상</p>
						<p style="text-align: center;">
							<span style="font-size: 12pt; line-height: 1.5;">틀린문제(2)</span>
						</p></td>
				</tr>
				<tr>
					<td
						style="width: 166px; height: 51px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(204, 204, 204);"><p
							style="text-align: center;">전체풀이 횟수(30)</p></td>
					<td
						style="width: 166px; height: 51px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204);"><p
							style="text-align: center;">나(10)</p></td>
					<td
						style="width: 166px; height: 51px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204);"><p
							style="text-align: center;">다른 사람(20)</p></td>
					<td
						style="width: 175px; height: 51px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204);"><p
							style="text-align: center;">
							<br>
						</p></td>
				</tr>
				<tr>
					<td
						style="width: 672px; height: 50px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(204, 204, 204);"
						colspan="4" rowspan="1"><p style="text-align: center;">정답율
							80% (난이도 중)</p></td>
				</tr>
			</tbody>
		</table>



	</form>


</body>
</html>