<table class='txc-table quiz template_qtype_ox' style='font-family: 바탕; font-size: 16px; opacity: 1; left: 0px; border:1px solid rgb(204, 204, 204); border-collapse:collapse;'>
			<tbody>
			<tr>
			<td unselectable='on' style='width: 37px; height: 48px; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); text-align: center;font-size: 16px;' colspan='1'><p>문제<br></p></td>
			<td class='question-cell'style='width: 626px; height: 27px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204);font-size: 16px;' colspan='2' rowspan='1'></td>
			</tr>
			<tr>
			<td  style='width: 27px; height: 24px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(204, 204, 204); background-color: rgb(255, 255, 255); text-align: center;font-size: 16px;' colspan='1' rowspan='1'><p>보기</p></td>
			<td class='txc-table-option-number answer' style='color:red; width: 50%; height: 26px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: none; border-right-color: rgb(124, 132, 239);' colspan='1'><p class='txc-table-option' style='text-align: center;font-size: 16px;'>O<br></p></td>
			<td class='txc-table-option-number' style='width: 50%; height: 24px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204);' colspan='1'><p class='txc-table-option' style='text-align: center;font-size: 16px;'>X<br></p></td>
			</tr>	
			<tr> 
			<td  style='width: 27px; height: 26px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(204, 204, 204); font-size: 16px; text-align:center; background-color: rgb(255, 255, 255);' colspan='1' rowspan='1'><p>해설</p></td> 
			<td class='txc-table-description' style='width: 20%; height: 26px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; font-size: 16px;' colspan='5'></td> 
			</tr> 		
			</tbody>
			</table><p><br></p>